body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background:#f5f7fb;
}


/* Common settings Starts*/
.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.sections-title{
    color:#0077cc;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

* {
    box-sizing: border-box;
}

/* Common settings Ends*/


/* -------------------------------------------------- */
/* Header Start */
/* -------------------------------------------------- */
.header{
    /* background-image: url("Images/wave-separator.png"); */
    background-color:#0077cc;
    color:white;
    border-bottom:none;
    position: sticky;
    top:0;
    z-index:1000;
    height:80px;
    display: flex;
    justify-content: space-between;
}
.header-left-section{
    display:flex;
    align-items: center;
    gap:10px;
}
.logo{
    height:40px;
    margin-left:24px;
    /* background-color: orange; */
    border-radius: 7px;
    
}

.logo-text{
    font-weight:bolder;
    font-size:18px;
    transition: transform 0.2s ease, color 0.2s ease;
}
.logo-text:hover{
  transform: scale(1.1);
}
.nav{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-top:20px;
}
.nav a{
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    color:white;
}
.nav a:hover{
    font-weight: bold;
    transform: scale(1.01);
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8);  
}
.nav-link{
    /* border:1px solid white; */
    padding:10px;
    border-radius: 20px;
}


.header-right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.phone-box{
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid white;
    padding:20px 5px;
    border-radius: 10px;
    /* background-color: orange; */
    height:30px;
    text-decoration: none;
}
.phone-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8);  
}
.phone-icon{
    width:20px;
    height:28px;
    margin-right: 3px;
}
.phone-number{
    font-size:15px;
    text-align:center;
    text-wrap:nowrap;
    color:white;
}
.menu-toggle{
    display:none;
    /* background-color: orange; */
    background: none;
    border:none;
    font-size:25px;
    color:white;
    height:50px;
    border-radius: 10px;
    margin-bottom: 3px;
    /* margin-left:10px; */
}
/* -------------------------------------------------- */
/* Header End */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Trust Bar Section Starts */
/* -------------------------------------------------- */
.trust-bar{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  background:#ffffff;
  padding:20px;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  font-weight:bold;
}

.trust-item{
  color:#0077cc;
  font-size:16px;
}
/* -------------------------------------------------- */
/* Trust Bar Section Ends */
/* -------------------------------------------------- */ 

/* -------------------------------------------------- */
/* Hero Section Start */
/* -------------------------------------------------- */
.hero{
    background-image: url("images/Plumber1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
}

.hero-box{
    width: 100%;
    min-height: 100vh;

    background: rgba(14, 88, 184, 0.01);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
    color: #0077cc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
}
h2{
    margin-top: 0px;
    font-size: 40px;
    font-style: italic;
}
.hero-text{
    margin-top: 0px;
    font-size: 20px;
}

.btn, .hero_call{
    display:inline-block;
    background: white;
    color:#0077cc;
    border:2px solid #0077cc;
    padding:12px 24px;
    text-decoration: none;
    border-radius: 50px;
    margin-top:20px;

    cursor:pointer;
}
.hero_call{
    width: 132px;
}
.btn:hover{
    transform:translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8); 
}
.hero_call:hover{
    transform:translateY(-2px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);   
} 
.google-rating-text{
  color:white;
}
#home{
    scroll-margin-top: 100px;
}
/* -------------------------------------------------- */
/* Hero Section End */
/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* Info Section Start */
/* -------------------------------------------------- */
.Info_section{
    padding:80px 0px;

}
.h1-text, .hero-rating{
    color:white;
}
/* -------------------------------------------------- */
/* Info Section End */
/* -------------------------------------------------- */






/* -------------------------------------------------- */
/* Services Section Starts */
/* -------------------------------------------------- */
.service_section{
    padding-top:100px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.service{
    flex: 1 1 250px;
    background: white;
    padding:20px;
    border-radius: 10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    text-align: center;
    color:black;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border:1px solid #0077cc;
}
.service p{
    text-align: left;
}
.service:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}
.img{
    width: 100%;
    height: 180px;        /* control image height */
    overflow: hidden;     /* hide overflow */
    border-radius: 6px;
    margin-bottom: 15px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;   /* 🔥 keeps image nicely cropped */
    border-radius: 6px;
    transition: transform 0.5s ease;
}
.img img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
/* -------------------------------------------------- */
/* Services Section Ends */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Contacts Section Starts */
/* -------------------------------------------------- */

.contact_section{
    margin-top:100px;
}

.contacts_container{
    display:flex;
    justify-content:center;
    gap:60px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.contact-card{
    text-align: center;
    max-width: 220px;
}

.icon-circle{
    width: 70px;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto;
}

.icon-circle img{
    width: 40px;
    height: 40px;
    /* filter: invert(1); */
}
.icon-circle img:hover{
    transform: scale(1.1);
}
.contact-card h3{
    margin-bottom: 8px;
    font-size: 18px;
    color: blacl;
}
.contact-card p{
    margin: 0;
    font-size: 15px;
}
.contact-card a{
    text-decoration: none;
    color: black; 
    display: inline-block;
}

.contact-card a:hover{
    transform: scale(1.1);
    cursor:hand;
}
#contact{
    scroll-margin-top: 100px;
}
/* -------------------------------------------------- */
/* Contacts Section Ends */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Area Section Starts */
/* -------------------------------------------------- */
.area_section{
    padding: 80px 0px;
    /* background:orange; */
    color:#0077cc;
}
.area-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.center{
    text-align:center;
}
/* -------------------------------------------------- */
/* Area Section Ends */
/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* Review Section Starts */
/* -------------------------------------------------- */
.review_section{
    margin-top:100px;
}
.testimonial-slider{
  position:relative;
  max-width:700px;
  margin:auto;
  overflow:hidden;
}

.review{
  display:none;
  background:#f4f4f4;
  margin:20px auto;
  padding:25px;
  border-radius:8px;
  text-align: center;
}

.review.active{
  display:block;
}

.review p{
font-size:clamp(16px,2.5vw,20px);
}
#reviews{
    scroll-margin-top: 100px;
}
/* -------------------------------------------------- */
/* Review Section Ends */
/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* Quotation Section Starts */
/* -------------------------------------------------- */
.quote_section form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:12px;
    width:100%;
}
input, textarea, select{
    padding:12px;
    border:1px solid #0077cc;
    border-radius:6px;
    width: 100%;
    font-size: 16px;
}
#quotes{
    scroll-margin-top: 100px;
}
/* -------------------------------------------------- */
/* Quotation Section Ends */
/* -------------------------------------------------- */

/* Footer Section */
footer{
    text-align:center;
    padding:30px;
    background:#111;
    color:white;
    margin-top:40px;
    
}

/* Modal Background */

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

/* Modal Box */

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  animation: popup 0.3s ease;
}

/* Success Popup Box */

.success-box{
text-align:center;
padding:30px;
}

/* Circle */

.checkmark-circle{
width:80px;
height:80px;
border-radius:50%;
background:#28a745;
margin:0 auto 20px;
display:flex;
align-items:center;
justify-content:center;
animation:pop 0.4s ease;
}

/* Checkmark */

.checkmark{
  width:25px;
  height:50px;
  border-right:5px solid white;
  border-bottom:5px solid white;
  transform:rotate(45deg);
}

/* Close Button */

.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* Pop Animation */

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



/* Mobile Friendly CSS Codes */
@media(max-width:768px){

#mainNav{
    display:none;
}
#mainNav.show{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:70px;
    right:20px;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    z-index:999;
}

#mainNav a{
    margin:10px 0;
    color:#0077cc;
}

.menu-toggle{
    display:block;
}

.logo-text{
    font-size:14px;
}
/* .logo-area{
    transform:translateX(-30px);
} */
.trust-bar{
    gap:15px;
    font-size:14px;
}

.service{
        max-width: 100%;
    }

}
